<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBM8jKdTNEXuoqYs1JSra8nysReSCeqeBY</string>
	<key>GCM_SENDER_ID</key>
	<string>101710107051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cBilling</string>
	<key>PROJECT_ID</key>
	<string>c-billing-4744a</string>
	<key>STORAGE_BUCKET</key>
	<string>c-billing-4744a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101710107051:ios:2564ec62e04aea3046c2ee</string>
</dict>
</plist>